<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toy</title>

    <style>
        #parent {
            border: #282c34 2px solid;
            text-align: center;
        }

        #son1{
            border: #61dafb 1px solid;
        }

        #son2{
            border: #bae1ff 1px solid;
        }


        #son3{
            border: #e2b5b5 2px solid;
            width: 400px; /*必须定宽*/
            margin: 0 auto;
        }

        #son4{
            border: #e2b5b5 2px solid;
            width: 400px; /*必须定宽*/
            margin: 0 auto;
        }

    </style>

</head>
<body>

    <div id="parent">

        <p id="son1">Hello</p>

        <p id="son2">World</p>


    </div>



    <div>

        <div id="son3">

            你好，Nice To See You!

        </div>

        <div id="son4">

            你好，Nice To See You!

        </div>


    </div>


</body>
</html>