<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一列不定一列自适应</title>

    <style>
        #left{
            float: left;
            height: 400px;
            background: #61dafb;
        }

        #right{
            overflow: scroll;
            height: 500px;
            background: #006fc2;
        }
    </style>

</head>
<body>


<div id="parent">
    <div id="left">左列不定宽,元素没有显示定义宽度,元素的宽度随内容的宽度改变而改变</div>
    <div id="right">右列自适应</div>
</div>


</body>
</html>