<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>四列等宽</title>

    <style>
        #parent > .column{
            float: left;
            width: 25%;
            height: 300px;
        }

        .column:nth-child(odd){background-color: #f00;}
        .column:nth-child(even){background-color: #0f0;}

    </style>

</head>
<body>


<div id="parent">
    <div class="column">1 <p>我是文字我是文字我输文字我是文字我是文字</p></div>
    <div class="column">2 <p>我是文字我是文字我输文字我是文字我是文字</p></div>
    <div class="column">3 <p>我是文字我是文字我输文字我是文字我是文字</p></div>
    <div class="column">4 <p>我是文字我是文字我输文字我是文字我是文字</p></div>
</div>


</body>
</html>