<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>左右布局2</title>

    <style>
        #left {
            background-color: #f00;
            float: left;
            width: 100px;
            height: 400px;
        }
        #right {
            background-color: #0f0;
            height: 500px;
            margin-left: 100px;
            /*设置间隔，大于等于#left的宽度*/
        }
    </style>


</head>
<body>
<div id="left">左列定宽</div>
<div id="right">
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
</div>
</body>
</html>