<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toy</title>

    <style>

        #left {
            background-color: #f00;
            float: left;
            width: 100px;
            height: 100vh;
        }
        #right {
            background-color: #0f0;
            height: 100vh;
            overflow: auto;
            /**此时,right块将成为一个BFC,并且此时,
            假设right块都是文字也不会float在left周围,这也是bfc的效果
            参考:https://lucybain.com/blog/2015/css-block-formatting-context。
                https://www.smashingmagazine.com/2017/12/understanding-css-layout-block-formatting-context**/
        }

    </style>

</head>
<body>


<div id="left">左列定宽</div>
<div id="right">
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
    右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应右列自适应
</div>


</body>
</html>